@import '~antd/dist/antd.css';

.card-list {
  margin-left: auto;
  margin-right: auto;
  padding: 0;
  display: grid;
  grid-template-columns: repeat(2, 451px);
  grid-column-gap: 36px;
  background-color: #fff;
}
